<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="adminNoticeMapper">

	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="NOTICE_DATE" property="noticeDate" />
		<result column="NOTICE_VIEW" property="noticeView" />
		<result column="NOTICE_STATUS" property="noticeStatus" />
	</resultMap>

	<resultMap id="adminNoticeResultSet" type="nAttachment">
		<result id="NAT_NO" property="natNo" />
		<result id="ORGIN_NAME" property="originName" />
		<result id="CHANGE_NAME" property="changeName" />
		<result id="CREATE_DATE" property="createDate" />
		<result id="FILE_STATUS" property="fileStatus" />
		<result id="NOTICE_NO" property="noticeNo" />
	</resultMap>
	
	<insert id="insertNoticeBoard" parameterType="notice">
		INSERT INTO NOTICE (NOTICE_NO,
							NOTICE_TITLE,
							NOTICE_CONTENT,
							NOTICE_DATE,
							NOTICE_VIEW,
							NOTICE_STATUS)
					VALUES (SEQ_NOTICE_NO.NEXTVAL,
							#{noticeTitle},
							#{noticeContent},
							DEFAULT,
							DEFAULT,
							DEFAULT)
	</insert>
	
	<insert id="insertNoticeFile" parameterType="nAttachment">
		INSERT INTO NATTACHMENT (NAT_NO,
							ORIGIN_NAME,
							CHANGE_NAME,
							CREATE_DATE,
							FILE_STATUS,
							NOTICE_NO)
					VALUES (SEQ_NAT_NO.NEXTVAL,
							#{ORIGIN_NAME},
							#{CHANGE_NAME},
							DEFAULT,
							DEFAULT,
							#{NO)
	</insert>
	
	

</mapper>