 <!-- sts용 faqList.html(css 의 경로를 나오게 하기 위해 /src/main/webapp 으로 잡음)-->
 <!-- .detail_faq : faq목록들 테두리 효과 -->
 
 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>자주 묻는 질문</title>
    
            <!-- 부트스트랩 -->
            <link href="/src/main/webapp/resources/css/common/styles.css" rel="stylesheet" />
            <link href="/src/main/webapp/resources/css/admin/styles.css" rel="stylesheet" />
            <!-- 폰트어썸 icon -->
            <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
            <!-- Core theme CSS (includes Bootstrap)-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
            <link href="css/styles.css" rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- TypeIt CDN -->
            <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
            <!-- jQuery CDN -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
            <!-- 1:1문의 js -->
            <script src="js/chatbot.js"></script>

            <!-- maple 폰트 -->
            <link href="/src/main/webapp/resources/fonts/maple_light.ttf" rel="stylesheet" />
            
            <!-- 자주 묻는 질문(목록) css -->
            <link href="/resources/css/notice/faqList.css" rel="stylesheet" />

        <style>
            body {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }
            .main {
                flex: 1;
                margin-top : 90px;
            }
            footer {
                margin-top: auto;
            }

        </style>

    </head>
    <body>
    <!-- 헤더 부분-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light fixed-top header_wrap" id="mainNav">
                <div class="header container px-4 px-lg-5">
                    <a class="navbar-brand" href="#page-top"><img class="logo" src="/webapp/resources/img/common/sim5.png"></a>
                    
                    <ul class="nav nav-pills navi">
                        
                            <li class="nav-item"><a href="#" class="nav-link nav-text">방 찾기</a></li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-text">쉼</a>
                                <ul>
                                    <li><a href="">쉼 소개</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-text">커뮤니티</a>
                                <ul>
                                    <li><a href="">자유게시판</a></li>
                                    <li><a href="">입주후기</a></li>
                                    <li><a href="">사람구해요</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-text">로그인</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-text">고객센터</a>
                                <ul>
                                    <li><a href="">공지사항</a></li>
                                    <li><a href="">자주 묻는 질문</a></li>
                                </ul>
                            </li>
                    </ul>
                    
                        <!-- 햄버거 메뉴 -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">&nbsp;&nbsp;&nbsp;&nbsp;로그인 해주세요.</h5>
                                <button type="button" class="btn-close text-reset"
                                    data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
    
                                <div class="user-button">
                                    <button type="button"
                                        style="width: 150px; margin-right: 20px; margin-left: 20px;"
                                        class="btn btn-success btn-lg">로그인</button>
                                    <button type="button" style="width: 150px;"
                                        class="btn btn-outline-success btn-lg">회원가입</button>
                                </div>
    
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 pb-2">
                                    <li class="nav-item offcanvas-text m-4">
                                        <a class="side-black" aria-current="page" href="#">방 찾기</a>
                                    </li>
                                    <li class="nav-item dropdown m-4">
                                        <a class="side-black" href="#" id="offcanvasNavbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">셰어하우스 쉼</a>
                                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown1">
                                               <li><a class="dropdown-item" href="#">쉼 소개</a></li>
                                            </ul> 
                                    </li>
                                    <li class="nav-item dropdown m-4"><a class="side-black" href="#" id="offcanvasNavbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티 </a>
                                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown2">
                                            <li><a class="dropdown-item" href="#">자유게시판</a></li>
                                            <li><a class="dropdown-item" href="#">사람구해요</a></li>
                                            <li><a class="dropdown-item" href="#">입주 후기 </a></li>                                            
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown m-4"><a class="side-black" href="#" id="offcanvasNavbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">고객센터 </a>
                                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown3">
                                            <li><a class="dropdown-item" href="#">공지사항</a></li>
                                            <li><a class="dropdown-item" href="#">자주 묻는 질문</a></li>                        
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </nav>
        </header>
        <!-- 헤더 부분 끝 -->
       
        <!-- 자주 묻는 질문 리스트 (Content) 영역 -->
        <div id="faq" class="container main">
            <div class="col-lg-12">
        
        
                <div class="table-wrapper">
                    <div id="faq_header" class="table-title">
                        자주 묻는 질문
                    </div>
                
                    <div id="nListSearch" class="search-box">
                        <form>
                            <input type="text" placeholder="지역명, 주변명 입력">
                            <button type="submit">
                                <i class="fa fa-search" style="color : rgb(249,88,10)"></i>
                            </button>
                        </form>
                    </div>
                    
                    <table id="faq-table" class="table">
                        <tbody>

                            <!-- 
                                .table-header 는
                                #faq-table 의 네비게이션바 역할
                            -->
                            <tr class="table-header">
                                <th>
                                    분류
                                </th>
                                <th>
                                    자주 묻는 질문 주제
                                </th>
                                <th>
                                    <div>조회수</div>
                                </th>
                            </tr>

                            <!-- 본격 faq 목록들 -->
                            <tr id="faq_table_body">

                                <tr class="table-row detail_faq" style="background-color:none;">
                                    <td class="detail_Category">[회원가입]</td>
                                    <td class="faqTitle">
                                        <a href="./faqDetail.html">회원가입은 어떻게 하나요?</a>
                                    </td>
                                    <td class="page_views">{26} 회</td>
                                </tr>

                                <tr class="table-row detail_faq" style="background-color:none;">
                                    <td class="detail_Category">[계약관련]</td>
                                    <td class="faqTitle">
                                        <a href="">이 방의 판매자와 대화하고 싶어요</a>
                                    </td>
                                    <td class="page_views">{26} 회</td>
                                </tr>
                            
                                <tr class="table-row detail_faq" style="background-color:none;">
                                    <td class="detail_Category">[신고 문의]</td>
                                    <td class="title">
                                        <a href="">계약 사기를 당했어요</a>
                                    </td>
                                    <td class="page_views">{26} 회</td>
                                </tr>

                                <tr class="table-row detail_faq" style="background-color:none;">
                                    <td class="detail_Category">[이벤트 문의]</td>
                                    <td class="faqTitle">
                                        <a href="">이벤트 당첨자는 공지사항에서 확인할 수 있나요?</a>
                                    </td>
                                    <td class="page_views">{25} 회</td>
                                </tr>

                                <tr class="table-row detail_faq" style="background-color:none;">
                                    <td class="detail_Category">[채팅 문의]</td>
                                    <td class="faqTitle">
                                        <a href="">채팅 기록은 나중에 확인 가능한가요?</a>
                                    </td>
                                    <td class="page_views">{20} 회</td>
                                </tr>

                                <tr class="table-row detail_faq" style="background-color:none;">
                                    <td class="detail_Category">[로그인 문의]</td>
                                    <td class="faqTitle">
                                        <a href="">아이디와 비밀번호를 까먹었어요</a>
                                    </td>
                                    <td class="page_views">{25} 회</td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!-- 페이지네이션 영역 시작 -->
                    <div class="pagination" >
                        <a href="#" class="previous">이전</a>
                        <a href="#" class="page-link active">1</a>
                        <a href="#" class="page-link">2</a>
                        <a href="#" class="page-link">3</a>
                        <a href="#" class="page-link">4</a>
                        <a href="#" class="page-link">5</a>
                        <a href="#" class="next">다음</a>
                    </div>
                    
                    <!-- 페이지네이션 영역 끝 -->
    
                </div>
            </div>
        </div>
    <!-- 본문 영역 종료-->
    
        <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="col-md-12 footer-menu">
                        <img src="/resources/img/common/sim4.png" style="width : 30%"/>
                        <p>NO.1 SHARE HOUSE COMMUNITY</p>
                    </div>
                    <div class="col-md-12" style="font-size : 0.7rem">
                        상호명 : (주)어서오쉐어 | 대표자명 : 최명진 | 사업자등록번호 : 697-88-00454
                        <br>
                        주소 : 서울특별시 강남구 선릉로 563, 2층(역삼동) | 대표번호 : 070-4408-9489
                        <br>
                        일반문의 : help@suim.co.kr
                        <br>
                        상담 가능시간 : 평일 10:00 ~ 18:00 (점심시간 12:30~13:30)
                    </div>
                </div>
    
                <div class="col-md-2">
                    <div style="margin-left:20px;">
                        <a href="#" style="border : 1px solid white; text-decoration : none; color : white; padding: 1;">쉼 가입하기</a>
                    </div>
                    <div class="py-4">
                        <a href=""><img src="/assets/img/facebook.png" style="width:32px;height:32px;"></a>&nbsp;
                        <a href=""><img src="/assets/img/instagram.png" style="width:32px;height:32px;"></a>&nbsp;
                        <a href=""><img src="/assets/img/naver.png" style="width:32px;height:32px;"></a>&nbsp;
                      </div>
                </div>
             </div>
                
              </div>
            </div>
          </footer>
        
          <script src="js/scripts.js"></script>
        
    </body>
    </html>