<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 
		* web.xml 파일
		배포서술자 라고 해서 서버가 구동되는 시점에서 제일 먼저 읽혀지는 파일
		Spring 프로젝트가 필요로 하는 설정들을 이 파일에서 작성할 것
	 -->


	<!-- 이 프로젝트가 읽어들여야 할 Spring 의 최상위 설정파일의 경로를 정의한 부분 -->
	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters --> 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/spring/root-context.xml
		/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>

	<!-- 스프링에서 필요로하는 모든 설정파일들을 연결할 수 있는 도구를 등록한 부분 -->
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--
		 이 웹 프로젝트의 요청 처리를 어떻게 할건지 등록한 부분
		즉, 요청을 처리하는 메인 서블릿을 등록하는 부분
		=> 해당 메인 서블릿 명 : DispatcherServlet
		스프링에서 요청 처리시 기본적으로 모든 요청들은 이 DispatcherServlet을 거처가게 됨.
		
	 -->
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 모든 요청시 DispatcherServlet 을 거쳐가겠다. -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
  <error-code>404</error-code>
  <location>/WEB-INF/views/common/404error.jsp</location>
</error-page>
<error-page>
  <error-code>405</error-code>
  <location>/WEB-INF/views/common/405error.jsp</location>
</error-page>
<error-page>
  <error-code>500</error-code>
  <location>/WEB-INF/views/common/500error.jsp</location>
</error-page>
<error-page>
  <error-code>400</error-code>
  <location>/WEB-INF/views/common/400error.jsp</location>
</error-page>


	<!-- UTF-8 필터 -->
	<!-- 
	
		수행 시점 ( 요청 => Filter => DispatcherServlet => Controller 클래스 )
		스프링에서 제공해주는 인코딩 필터는 아래와 같다
	
	 -->
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	


	
	
</web-app>
