<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.suim.member.model.vo.Member" alias="member" />
		<typeAlias type="com.suim.member.model.vo.Email" alias="email" />
		<typeAlias type="com.suim.member.model.vo.MyWish" alias="myWish" />
		<typeAlias type="com.suim.common.model.vo.Notification" alias="notification" />
		
		

		<typeAlias type="com.suim.house.model.vo.House" alias="house" />
		<typeAlias type="com.suim.house.model.vo.Photo" alias="photo" />
		<typeAlias type="com.suim.house.model.vo.Wish" alias="wish" />

		<typeAlias type="com.suim.board.model.vo.Board" alias="board" />
		<typeAlias type="com.suim.board.model.vo.Battachment" alias="battachment" />
		<typeAlias type="com.suim.board.model.vo.Reply" alias="reply" />
		
		<typeAlias type="com.suim.board.model.vo.Find" alias="find" />
		<typeAlias type="com.suim.board.model.vo.findReply" alias="findreply" />
		

		<typeAlias type="com.suim.board.model.vo.InReview" alias="inreview" />
		<typeAlias type="com.suim.board.model.vo.InReviewReply" alias="inreviewreply" />


		<typeAlias type="com.suim.notice.model.vo.Notice" alias="notice" />
		<typeAlias type="com.suim.notice.model.vo.Nattachment" alias="nAttachment"/>
		
		<typeAlias type="com.suim.report.model.vo.Report" alias="report" />
		<typeAlias type="com.suim.report.model.vo.Rattachment" alias="rattachment"/>
		<typeAlias type="com.suim.admin.model.vo.Dashboard" alias="dashboard"/>

		<typeAlias type="com.suim.chat.model.vo.ChatList" alias="chatList" />
		<typeAlias type="com.suim.chat.model.vo.ChatLog" alias="chatlog" />
		<typeAlias type="com.suim.house.model.vo.Reservation" alias="reservation"/>
		
		<typeAlias type="com.suim.event.model.vo.Event" alias="event"/>
		<typeAlias type="com.suim.event.model.vo.Eattachment" alias="eAttachment"/>
		
		<typeAlias type="com.suim.pay.model.vo.Pay" alias="pay"/>
	</typeAliases>
	    
	    
	    <mappers>
	    	<mapper resource="/mappers/member/member-mapper.xml"/>
	    	<mapper resource="/mappers/member/email-mapper.xml"/>
	    	<mapper resource="/mappers/member/mypage-mapper.xml"/>
	    	<mapper resource="/mappers/common/notification-mapper.xml"/>
	    	<mapper resource="/mappers/common/main-mapper.xml"/>
	    	
	    	
	    	<mapper resource="/mappers/board/board-mapper.xml"/>
	    	<mapper resource="/mappers/house/house-mapper.xml"/>
	    	<mapper resource="/mappers/house/list-house-mapper.xml" />
	    	<mapper resource="/mappers/notice/notice-mapper.xml" />
	    	<mapper resource="/mappers/chat/chat-mapper.xml" />
	    	<mapper resource="/mappers/notice/admin-notice-mapper.xml" />
	    	
	    	<mapper resource="/mappers/report/report-mapper.xml"/>
	    	<mapper resource="/mappers/member/admin-member-mapper.xml"/>
	    	<mapper resource="/mappers/report/admin-report-mapper.xml"/>
	    	<mapper resource="/mappers/house/admin-house-mapper.xml"/>
	    	<mapper resource="/mappers/admin/admin-dashboard-mapper.xml"/>
	    	
	    	<mapper resource="/mappers/event/event-mapper.xml"/>
	    	<mapper resource="/mappers/event/admin-event-mapper.xml"/>
	    	<mapper resource="/mappers/board/admin-board-mapper.xml"/>
	    	<mapper resource="/mappers/pay/pay-mapper.xml"/>
	    	<mapper resource="/mappers/board/admin-reservation-mapper.xml"/>
	    </mappers>
	    
	    
</configuration>