<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="adminReportMapper">

	<!-- REPORT 테이블로부터 조회된 ResultSet 에 들은 데이터를 REPORT VO 로 가공해주는 용도 -->
	<resultMap id="adminReportResultSet" type="report">
		<result column="REPORT_NO" property="reportNo" />
		<result column="REPORT_TITLE" property="reportTitle" />
		<result column="REPORT_CONTENT" property="reportContent" />
		<result column="REPORT_TYPE" property="reportType" />
		<result column="REPORT_ID" property="reportId" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_STATUS" property="reportStatus" />
		<result column="REPORT_COUNT" property="reportCount" />
	</resultMap>

	<!-- 총 갯수 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM REPORT
	</select>
	
	<!-- 리스트를 구해주는 쿼리문 -->
	<select id="selectList" resultMap="adminReportResultSet">
		SELECT REPORT_NO
			 , REPORT_TITLE
			 , REPORT_CONTENT
			 , REPORT_TYPE
			 , REPORT_ID
			 , REPORT_DATE
			 , REPORT_STATUS
		  FROM REPORT
         ORDER BY REPORT_DATE DESC
	</select>
	
	<!-- 카테고리용 리스트를 구해주는 쿼리문 -->
	<select id="selectCategoryList" parameterType="string" resultMap="adminReportResultSet">
		SELECT REPORT_NO
			 , REPORT_TITLE
			 , REPORT_CONTENT
			 , REPORT_TYPE
			 , REPORT_ID
			 , REPORT_DATE
			 , REPORT_STATUS
		  FROM REPORT
         WHERE REPORT_STATUS = #{category}         
         ORDER BY REPORT_DATE DESC
         
	</select>
	
	<!-- 블랙리스트 처리용 쿼리문 -->
	<select id="selectBlackList">
		SELECT MEMBER_ID, COUNT(*)
		  FROM REPORT
		 WHERE MEMBER_ID = #{memberId}
		 GROUP BY MEMBER_ID
		HAVING REPORT_COUNT(*) >= 3
	</select>
	
	<!-- 등록용 쿼리문 -->
	<insert id="insertReport" parameterType="report">
		INSERT INTO REPORT(REPORT_NO
						, REPORT_TITLE
						, REPORT_CONTENT
						, REPORT_TYPE
						, REPORT_ID)
				   VALUES(SEQ_BNO.NEXTVAL
				   		, #{reportTitle}
				   		, #{reportContent}
				   		, #{reportType}
				   		, #{reportId})
	</insert>
	
	<!-- 신고 상세 조회용 쿼리문 -->
	<select id="selectReport" parameterType="_int" resultMap="adminReportResultSet">
		SELECT REPORT_NO
			 , REPORT_TITLE
			 , REPORT_CONTENT
			 , REPORT_TYPE
			 , REPORT_ID
			 , REPORT_DATE
			 , REPORT_STATUS
		  FROM REPORT
		 WHERE REPORT_NO = #{reportNo}
	</select>

	<!-- 신고 삭제용 쿼리문 -->
	<update id="deleteReport" parameterType="_int">
		UPDATE REPORT
		   SET REPORT_STATUS = 'N'
		 WHERE REPORT_NO = #{reportNo}
	</update>
	
	<!-- 신고 수정용 쿼리문 -->
	<update id="updateReport" parameterType="report">
		UPDATE REPORT
		   SET REPORT_TITLE = #{reportTitle}
		     , REPORT_CONTENT = #{reportContent}
		     , REPORT_TYPE = #{reportType}
		     , REPORT_ID = #{reportId}
		 WHERE REPORT_NO = #{reportNo}
	</update>

	<!-- 승인/반려용 쿼리문 -->
	<update id="updateReportStatus" parameterType="report">
		UPDATE REPORT
		   SET REPORT_STATUS = #{reportStatus}
		 WHERE REPORT_NO = #{reportNo}
	</update>
</mapper>