<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">

	<!-- REPORT 테이블로부터 조회된 ResultSet 에 들은 데이터를 REPORT VO 로 가공해주는 용도 -->
	<resultMap id="reportResultSet" type="report">
		<result column="REPORT_NO" property="reportNo" />
		<result column="REPORT_TITLE" property="reportTitle" />
		<result column="REPORT_CONTENT" property="reportContent" />
		<result column="REPORT_TYPE" property="reportType" />
		<result column="REPORT_ID" property="reportId" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_STATUS" property="reportStatus" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="HOUSE_NO" property="houseNo" />
		<result column="FIND_NO" property="findNo" />
		<result column="FRE_NO" property="freNo" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="BRE_NO" property="breNo" />
		<result column="CHAT_NO" property="chatNo" />
	</resultMap>
	
	<!-- 신고 작성용 쿼리문 -->
	<insert id="insertReport" parameterType="report">
		INSERT INTO REPORT (REPORT_NO, 
		                   REPORT_TITLE, 
		                   REPORT_CONTENT,
                           REPORT_TYPE,
                           REPORT_ID,
                           REPORT_DATE,
                           REPORT_STATUS,
                           MEMBER_ID,
						   TYPE_NO)
				   VALUES(SEQ_REPORT_NO.NEXTVAL
				   		, #{reportTitle}
				   		, #{reportContent}
                        , #{reportType}
                   		, #{reportId}
                        , DEFAULT
                        , DEFAULT
                        , #{memberId}
                   		, #{typeNo})
	</insert>

	<!-- 블랙리스트 처리용 쿼리문 -->
	<select id="selectBlackList" parameterType="String" resultType="_int">
         SELECT COUNT(*)
           FROM REPORT
          WHERE REPORT_ID = #{reportId}
	</select>
	<!-- Y 3번 조회 -->
	<select id="selectY" parameterType="String" resultType="_int">
		SELECT COUNT(*)
	    FROM REPORT
	    WHERE REPORT_ID = #{reportId}
	     AND REPORT_STATUS = 'Y'
	</select>
	
	<!-- 상태값 블랙리스트로 변경용 -->
	<update id="updateBlackList">
		UPDATE MEMBER
		   SET STATUS = '블랙'
		 WHERE MEMBER_ID = #{reportId}
	</update>
	
	<!-- 신고 파일첨부 쿼리문 -->
	<insert id="rattachment" parameterType="rattachment">
		INSERT INTO RATTACHMENT (RAT_NO, 
		                        ORIGIN_NAME, 
		                        CHANGE_NAME, 
		                        CREATE_DATE, 
		                        FILE_STATUS, 
		                        REPORT_NO)
		VALUES (SEQ_RAT_NO.NEXTVAL, 
		        #{originName}, 
		        #{changeName},
		        DEFAULT, 
		        DEFAULT, 
		        #{reportNo})
	</insert>
	
	<select id="hasDuplicateReport" parameterType="report" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM REPORT
		 WHERE REPORT_ID = #{reportId}
		   AND MEMBER_ID = #{memberId}
		 GROUP BY TYPE_NO, MEMBER_ID
	</select>
	
	<select id="selectReport" parameterType="_int" resultType="report">
		 SELECT *
       		FROM REPORT
      		WHERE REPORT_NO = #{reportNo}
	</select>
</mapper>