<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="adminMainMapper">
	<resultMap id="adminMainResultSet" type="admin">
		<result column="MALE" property="male" />
		<result column="FEMALE" property="female" />
	</resultMap>
	
	<select id="selectChart" resultMap="adminMainResultSet">
		SELECT
		    SUM(CASE WHEN gender = 'M' THEN 1 ELSE 0 END) AS MALE,
		    SUM(CASE WHEN gender = 'F' THEN 1 ELSE 0 END) AS FEMALE
		  FROM MEMBER
		UNION
	</select>
	<select id="getCountForLastWeek" resultType="java.util.List" parameterType="String">
	    SELECT
	      <foreach item="i" index="idx" collection="dates" separator=",">
	        COUNT(CASE WHEN TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') = #{today} THEN 1 END) AS $=day#{i}
	      </foreach>
	    FROM MEMBER
	    WHERE ENROLL_DATE >= TRUNC(SYSDATE) - 7
	</select>
</mapper>