<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="adminEventMapper">

	<resultMap id="eventResultSet" type="event">
		<result column="EVENT_NO" property="eventNo" />
		<result column="EVENT_TITLE" property="eventTitle" />
		<result column="EVENT_CATEGORY" property="eventCategory" />
		<result column="EVENT_CONTENT" property="eventContent" />
		<result column="EVENT_DATE" property="eventDate" />
		<result column="EVENT_VIEW" property="eventView" />
		<result column="EVENT_STATUS" property="eventStatus" />
	</resultMap>
	
	<resultMap id="eAttachmentResultSet" type="eAttachment">
		<result column="EAT_NO" property="eatNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="FILE_STATUS" property="fileStatus" />
		<result column="EVENT_NO" property="eventNo" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int" resultMap="eventResultSet">
		SELECT COUNT(*)
		  FROM EVENT
		 WHERE EVENT_STATUS = 'Y'
	</select>
	
	<insert id="insertEventBoard" parameterType="event">
		INSERT INTO EVENT (EVENT_NO, 
						   EVENT_TITLE, 
						   EVENT_CATEGORY,
						   EVENT_CONTENT,
						   EVENT_DATE, 
						   EVENT_VIEW, 
						   EVENT_STATUS)
					VALUES (SEQ_EVENT_NO.NEXTVAL,
						    #{eventTitle},
						    #{eventCategory},
						    #{eventContent}, 
						    DEFAULT,
						    DEFAULT,
						    DEFAULT)
	</insert>
	
	<insert id="insertEventFile" parameterType="eAttachment">
		INSERT INTO EATTACHMENT (EAT_NO, 
							ORIGIN_NAME,
							CHANGE_NAME,
							CREATE_DATE,
							FILE_STATUS,
							EVENT_NO)
					 VALUES (SEQ_EAT_NO.NEXTVAL, 
					 		 #{originName}, 
					 		 #{changeName},
					 		 DEFAULT,
					 		 DEFAULT,
					 		 SEQ_EVENT_NO.CURRVAL)
	</insert>
	
	<!-- 이벤트 게시글 업데이트용 파일 -->
	<update id="updateEventBoard" parameterType="event">
		UPDATE EVENT
		   SET EVENT_TITLE = #{eventTitle}
		   	 , EVENT_CATEGORY = #{eventCategory}
		   	 , EVENT_CONTENT = #{eventContent}
		 WHERE EVENT_NO = #{eventNo}
		   
	</update>
	
	<update id="changeFileStatus" parameterType="eAttachment">
		UPDATE EATTACHMENT
		   SET FILE_STATUS = 'N'
		 WHERE EAT_NO = #{eAttach}
	</update>
	
	<update id="deleteEvent" parameterType="event">
		UPDATE EVENT
		   SET EVENT_STATUS = 'N'
		 WHERE EVENT_NO = #{eno}
	</update>
	

	<select id="selectEventFile" resultType="_int">

		SELECT *
		  FROM EATTACHMENT
		 WHERE EAT_NO = #{eAttach}
	</select>
	
	<update id="deleteEventFile" parameterType="eAttachment">

		UPDATE EATTACHMENT
		   SET FILE_STATUS = 'N'
		 WHERE EAT_NO = #{eno}

	</update>

	
	
	

	
	
</mapper>
