<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	<resultMap id="eventResultSet" type="event">
		<result column="EVENT_NO" property="eventNo" />
		<result column="EVENT_TITLE" property="eventTitle" />
		<result column="EVENT_CATEGORY" property="eventCategory" />
		<result column="EVENT_CONTENT" property="eventContent" />
		<result column="EVENT_DATE" property="eventDate" />
		<result column="EVENT_VIEW" property="eventView" />
		<result column="EVENT_STATUS" property="eventStatus" />
	</resultMap>
	
	<resultMap id="eAttachmentResultSet" type="eAttachment">
		<result column="EAT_NO" property="eatNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="FILE_STATUS" property="fileStatus" />
		<result column="EVENT_NO" property="eventNo" />
	</resultMap>
	
	<!-- EVENT_STATUS 가 'Y' 인 EVENT 테이블의 게시글 총 갯수 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM EVENT
		 WHERE EVENT_STATUS = 'Y'
	</select>
	
	<!-- 이벤트 카테고리 분류 상관없이 다 조회함 -->
	<select id="selectList" resultType="event" resultMap="eventResultSet">
		SELECT EVENT_NO
			 , EVENT_TITLE
			 , EVENT_CATEGORY
			 , EVENT_CONTENT
			 , EVENT_DATE
			 , EVENT_VIEW
			 , EVENT_STATUS
		  FROM EVENT
		 WHERE EVENT_STATUS = 'Y'
		 ORDER BY EVENT_NO DESC
	</select>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE EVENT
		   SET EVENT_VIEW = EVENT_VIEW + 1
		 WHERE EVENT_NO = #{eno}
		   AND EVENT_STATUS = 'Y'
	</update>
	
	<select id="selectEventFile" parameterType="_int" resultMap="eAttachmentResultSet">
		SELECT *
		  FROM EATTACHMENT
		 WHERE EVENT_NO = #{eno}
		  AND FILE_STATUS = 'Y'
	</select>
	
	<select id="selectBoard" parameterType="_int" resultMap="eventResultSet">
		SELECT EVENT_NO
			 , EVENT_TITLE
			 , EVENT_CATEGORY
			 , EVENT_CONTENT
			 , EVENT_DATE
			 , EVENT_VIEW
			 , EVENT_STATUS
		  FROM EVENT
		 WHERE EVENT_NO = #{eventNo}

		
	</select>
	
	<select id="selectCategoryListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM EVENT
		 WHERE EVENT_CATEGORY = #{category}
	</select>
	
	<!-- 진행중인 유효한 이벤트 리스트 -->
	<select id="selectCategoryList" resultType="event" resultMap="eventResultSet">

		SELECT EVENT_NO
	  		 , EVENT_TITLE
	    	 , EVENT_CATEGORY
	  		 , EVENT_CONTENT
	    	 , EVENT_DATE
	    	 , EVENT_VIEW
	    	 , EVENT_STATUS
	   		   FROM EVENT

	   	 WHERE EVENT_CATEGORY = #{category}
	

</select>
	
</mapper>
