<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">

	
	<!-- PAYMENT 테이블로부터 조회된 ResultSet 을 Pay 객체로 가공해주는 resultMap -->
	<resultMap id="payResultSet" type="pay">
		<result column="PAYMENT_NO" property="paymentNo" />
		<result column="TID" property="tid" />
		<result column="PRICE" property="price" />
		<result column="PAYMENT_DATE" property="paymentDate" />
		<result column="PAYMENT_STATUS" property="paymentStatus" />
		<result column="HOUSE_NO" property="houseNo" />
		<result column="DEPOSIT" property="deposit" />
		<result column="MEMBERID" property="memberId" />
	</resultMap>
	
	<select id="selectPay" parameterType="_int" resultMap="payResultSet">
		
		SELECT * 
		FROM PAYMENT
		
		
	</select>
	
	<insert id="insertPay" parameterType="pay">
		INSERT INTO PAYMENT(PAYMENT_NO
						, TID
						, PRICE
						, PAYMENT_STATUS
						, HOUSE_NO
						, MEMBER_ID
						)
				   VALUES(SEQ_PAYMENT_NO.NEXTVAL
				   		, #{tid}
				   		, #{price}
				   		, 'Y'
				   		, #{houseNo}
				   		, #{memberId}
				   		)
	</insert> 
	
	<update id="updatePay" parameterType="pay">
		UPDATE HOUSE
		SET ENROLL_STATUS = '등록완료'
		WHERE HOUSE_NO = #{houseNo}
		AND HOUSE_STATUS = 'Y'
	
	</update>
	
	<update id="cancelPay" parameterType="pay">
		UPDATE PAYMENT
		SET PAYMENT_STATUS = 'N'
		WHERE TID = #{tid}
	</update>
	

	
	
</mapper>
